htmlcov/
plots/
dist/
build/
InstanceReduction.egg-info/
data_reduction.egg-info/
.*
**/__pycache__/
results/
nomao.ipynb
example.ipynb
sh.ipynb
svhn.ipynb
icf_example.ipynb
results/Wyniki.xlsx
.coverage/
las.ipynb
